<mat-card>
    <mat-card-header>
        <mat-card-title>{{ goldenCoreTitle }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="text">{{ goldenCoreDescription }}</div>
        <div class="form">
            <mat-form-field>
                <mat-label>{{ tileQiInputLabel }}</mat-label>
                <input matInput type="number" min="0" [formControl]="tileQiCtrl">
                <mat-icon matPrefix [matTooltip]="tileQiInputTooltip" matTooltipPosition="left">info</mat-icon>
                <mat-error *ngIf="tileQiCtrl.hasError('min')">{{ inputErrorMin }} 0</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ lawMatchInputLabel }}</mat-label>
                <input matInput type="number" min="50" [formControl]="lawMatchCtrl">
                <mat-icon matPrefix [matTooltip]="lawMatchInputTooltip" matTooltipPosition="left">info</mat-icon>
                <span matTextSuffix>%</span>
                <mat-error *ngIf="lawMatchCtrl.hasError('min')">{{ inputErrorMin }} 50 %</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ luckInputLabel }}</mat-label>
                <input matInput type="number" min="0" max="10" [formControl]="luckCtrl">
                <mat-icon matPrefix [matTooltip]="luckInputTooltip" matTooltipPosition="left">info</mat-icon>
                <mat-error *ngIf="luckCtrl.hasError('min')">{{ inputErrorMin }} 0</mat-error>
                <mat-error *ngIf="luckCtrl.hasError('max')">{{ inputErrorMax }} 10</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ mentalStateInputLabel }}</mat-label>
                <input matInput type="number" min="0" [formControl]="mentalStateCtrl">
                <mat-icon matPrefix [matTooltip]="mentalStateInputTooltip" matTooltipPosition="left">info</mat-icon>
                <mat-error *ngIf="mentalStateCtrl.hasError('min')">{{ inputErrorMin }} 0</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ yinYangInputLabel }}</mat-label>
                <input matInput type="number" min="0" [formControl]="yinYangCtrl">
                <mat-icon matPrefix [matTooltip]="yinYangInputTooltip" matTooltipPosition="left">info</mat-icon>
                <mat-error *ngIf="yinYangCtrl.hasError('min')">{{ inputErrorMin }} 0</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ weatherInputLabel }}</mat-label>
                <mat-select [formControl]="weatherCtrl" multiple>
                    <div *ngIf="weathers$ |async as weathers">
                        <mat-option *ngFor="let weather of weathers" [value]="weather.contribution"> <strong>{{weather.name}}</strong> {{ weatherContributeForText }}<img class="icon" src="{{elementImgSrcUrl}}/{{weather.element.image}}" />{{ weatheratTheLevelOfText }} {{weather.contribution}}</mat-option>
                    </div>
                </mat-select>
                <mat-icon matPrefix [matTooltip]="weatherInputTooltip" matTooltipPosition="left">info</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ seasonInputLabel }}</mat-label>
                <input matInput type="number" step="0.1" min="0" max="1.3" [formControl]="seasonCtrl">
                <mat-icon matPrefix [matTooltip]="seasonInputTooltip" matTooltipPosition="left">info</mat-icon>
                <mat-error *ngIf="seasonCtrl.hasError('min')">{{ inputErrorMin }} 1</mat-error>
                <mat-error *ngIf="seasonCtrl.hasError('max')">{{ inputErrorMax }} 1.3</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ tileElementInputLabel }}</mat-label>
                <input matInput type="number" [formControl]="tileElementCtrl">
                <mat-icon matPrefix [matTooltip]="tileElementInputTooltip" matTooltipPosition="left">info</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ maxQiInputLabel }}</mat-label>
                <input matInput type="number" [formControl]="maxQiCtrl">
                <mat-icon matPrefix [matTooltip]="maxQiInputTooltip" matTooltipPosition="left">info</mat-icon>
                <mat-error *ngIf="seasonCtrl.hasError('min')">{{ inputErrorMin }} 0</mat-error>
            </mat-form-field>
        </div>
        <div class="form">
            <button mat-flat-button color="warn"> {{ scorePerSecondButtonText }} {{scorePerSecond.toFixed(0)}} </button>
            <button mat-flat-button color="warn" [matTooltip]="durationButtonTooltip" matTooltipPosition="below"> {{ durationButtonText }} {{duration}}s </button>
            <button mat-flat-button color="warn"> {{ totalScoreButtonText }} {{totalScore.toFixed(0)}} </button>
            <button mat-flat-button color="warn"> {{ tierButtonText }} {{tier}} </button>
        </div>
    </mat-card-content>
</mat-card>