<mat-card>
    <mat-card-header>
        <mat-card-title>{{ cultivationRoomTitle }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="text">{{ cultivationRoomDescription }}</div>
        <div class="container">
            <div class="form">
                <mat-form-field>
                    <mat-label>{{ terrainsSelectLabel }}</mat-label>
                    <mat-select *ngIf="terrains$ | async as terrains" [matTooltip]="spiritSoilCtrlTooltip" matTooltipPosition="above" [formControl]="terrainCtrl">
                        <mat-option *ngFor="let terrain of terrains" [value]="terrain">{{ terrain.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-checkbox [matTooltip]="qiCushionCtrlTooltip" matTooltipPosition="right" [formControl]="qiCushionCtrl">{{ qiCushionCtrlLabel }}</mat-checkbox>
                <mat-form-field>
                    <mat-label>{{ sizeCtrlLabel }}</mat-label>
                    <mat-select [formControl]="sizeCtrl">
                        <mat-option value="3">3 x 3</mat-option>
                        <mat-option value="5">5 x 5</mat-option>
                        <mat-option value="7">7 x 7</mat-option>
                        <mat-option value="9">9 x 9</mat-option>
                        <mat-option value="11">11 x 11</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="grid">
                <mat-grid-list [style.width.px]="gridWidth" [cols]="size" rowHeight="30px" gutterSize="3px">
                    <mat-grid-tile *ngFor="let tile of tiles">
                        <ng-container *ngIf="tile.id !== cushionTile">
                            <button class="tile-{{tile.id}} tile-button" mat-icon-button (click)="setTileCurrentItem(tile.id)"></button>
                        </ng-container>
                        <ng-container *ngIf="tile.id === cushionTile">
                            <button class="tile-cushion" mat-icon-button></button>
                        </ng-container>
                    </mat-grid-tile>
                </mat-grid-list>
                <button mat-flat-button color="warn" (click)="clearGrid()">{{ clearGridButtonLabel }}</button>
                <button mat-flat-button color="warn">{{ totalGatherQiOnCushionButtonLabel }} {{ totalGatherQiOnCushion.toFixed(2) }} </button>
                <div class="text">{{ elementStrengthDescription }}</div>
                <div>
                    <button mat-fab color="warn" [matTooltip]="earthEmitButtonTooltip" matTooltipPosition="below"><img class="icon" src="{{elementImgSrcUrl}}/earth.webp" /> {{ elementsStrength.earthStrength.toFixed(2) }}</button>
                    <button mat-fab color="warn" [matTooltip]="fireEmitButtonTooltip" matTooltipPosition="below"><img class="icon" src="{{elementImgSrcUrl}}/fire.webp" /> {{ elementsStrength.fireStrength.toFixed(2) }}</button>
                    <button mat-fab color="warn" [matTooltip]="metalEmitButtonTooltip" matTooltipPosition="below"><img class="icon" src="{{elementImgSrcUrl}}/metal.webp" /> {{ elementsStrength.metalStrength.toFixed(2) }}</button>
                    <button mat-fab color="warn" [matTooltip]="waterEmitButtonTooltip" matTooltipPosition="below"><img class="icon" src="{{elementImgSrcUrl}}/water.webp" /> {{ elementsStrength.waterStrength.toFixed(2) }}</button>
                    <button mat-fab color="warn" [matTooltip]="woodEmitButtonTooltip" matTooltipPosition="below"><img class="icon" src="{{elementImgSrcUrl}}/wood.webp" /> {{ elementsStrength.woodStrength.toFixed(2) }}</button>
                </div>
            </div>
            <mat-accordion>
                <mat-expansion-panel *ngIf="earthGatherQiItems$ | async as gatherQiItems" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{ earthLabel }} <img class="icon" src="{{elementImgSrcUrl}}/earth.webp" /></span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let gatherQiItem of gatherQiItems">
                            <button mat-flat-button (click)="setCurrentItem(gatherQiItem)">
                                <img src="{{gatherQiImgSrcUrl}}/{{gatherQiItem.image}}" />
                                <span> {{ gatherQiItem.name }} </span>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="fireGatherQiItems$ | async as gatherQiItems" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{ fireLabel }} <img class="icon" src="{{elementImgSrcUrl}}/fire.webp" /></span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let gatherQiItem of gatherQiItems">
                            <button mat-flat-button (click)="setCurrentItem(gatherQiItem)">
                                <img src="{{gatherQiImgSrcUrl}}/{{gatherQiItem.image}}" />
                                <span> {{ gatherQiItem.name }} </span>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="metalGatherQiItems$ | async as gatherQiItems" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{ metalLabel }} <img class="icon" src="{{elementImgSrcUrl}}/metal.webp" /></span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let gatherQiItem of gatherQiItems">
                            <button mat-flat-button (click)="setCurrentItem(gatherQiItem)">
                                <img src="{{gatherQiImgSrcUrl}}/{{gatherQiItem.image}}" />
                                <span> {{ gatherQiItem.name }} </span>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="noneGatherQiItems$ | async as gatherQiItems" [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{ noneLabel }} <img class="icon" src="{{elementImgSrcUrl}}/none.webp" /></span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let gatherQiItem of gatherQiItems">
                            <button mat-flat-button (click)="setCurrentItem(gatherQiItem)">
                                <img src="{{gatherQiImgSrcUrl}}/{{gatherQiItem.image}}" />
                                <span> {{ gatherQiItem.name }} </span>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="waterGatherQiItems$ | async as gatherQiItems" [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{ waterLabel }} <img class="icon" src="{{elementImgSrcUrl}}/water.webp" /></span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let gatherQiItem of gatherQiItems">
                            <button mat-flat-button (click)="setCurrentItem(gatherQiItem)">
                                <img src="{{gatherQiImgSrcUrl}}/{{gatherQiItem.image}}" />
                                <span> {{ gatherQiItem.name }} </span>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="woodGatherQiItems$ | async as gatherQiItems" [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{ woodLabel }} <img class="icon" src="{{elementImgSrcUrl}}/wood.webp" /></span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let gatherQiItem of gatherQiItems">
                            <button mat-flat-button (click)="setCurrentItem(gatherQiItem)">
                                <img src="{{gatherQiImgSrcUrl}}/{{gatherQiItem.image}}" />
                                <span> {{ gatherQiItem.name }} </span>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-card-content>
</mat-card>