<mat-card-subtitle>Law stats</mat-card-subtitle>
<table mat-table [dataSource]="data">
    <ng-container matColumnDef="charisma">
        <th mat-header-cell *matHeaderCellDef>Charisma</th>
        <td mat-cell *matCellDef="let element"> {{element.charisma}} </td>
    </ng-container>
    <ng-container matColumnDef="constitution">
        <th mat-header-cell *matHeaderCellDef>Constitution</th>
        <td mat-cell *matCellDef="let element"> {{element.constitution}} </td>
    </ng-container>
    <ng-container matColumnDef="intelligence">
        <th mat-header-cell *matHeaderCellDef>Intelligence</th>
        <td mat-cell *matCellDef="let element"> {{element.intelligence}} </td>
    </ng-container>
    <ng-container matColumnDef="luck">
        <th mat-header-cell *matHeaderCellDef>Luck</th>
        <td mat-cell *matCellDef="let element"> {{element.luck}} </td>
    </ng-container>
    <ng-container matColumnDef="perception">
        <th mat-header-cell *matHeaderCellDef>Perception</th>
        <td mat-cell *matCellDef="let element"> {{element.perception}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>